USE [master]
GO
/****** Object:  Database [QLBH]    Script Date: 3/25/2019 5:33:58 PM ******/
CREATE DATABASE [QLBH]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLBH', FILENAME = N'C:\db\QLBH.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QLBH_log', FILENAME = N'C:\db\QLBH_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLBH].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLBH]
GO
/****** Object:  Table [dbo].[Audit_CTHD]    Script Date: 3/25/2019 5:33:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Audit_CTHD](
	[MaHD] [nchar](10) NOT NULL,
	[MaHang] [nchar](10) NULL,
	[SL] [int] NULL,
	[ThaoTac] [nvarchar](50) NULL,
	[NgayGio] [datetime] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Audit_HangHoa]    Script Date: 3/25/2019 5:33:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Audit_HangHoa](
	[MaHang] [nchar](10) NOT NULL,
	[TenHang] [nvarchar](50) NULL,
	[DVT] [nvarchar](20) NULL,
	[DonGia] [float] NULL,
	[SLcon] [int] NULL,
	[MaLoaiHang] [nchar](10) NULL,
	[ThaoTac] [nchar](50) NULL,
	[NgayGio] [datetime] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Audit_HoaDon]    Script Date: 3/25/2019 5:33:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Audit_HoaDon](
	[MaHD] [nchar](10) NULL,
	[NgayHD] [date] NULL,
	[MaKH] [nchar](10) NULL,
	[MaNV] [nchar](10) NULL,
	[ThaoTac] [nvarchar](50) NULL,
	[NgayGo] [datetime] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Audit_KhachHang]    Script Date: 3/25/2019 5:33:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Audit_KhachHang](
	[MaKH] [nchar](10) NULL,
	[TenKH] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](100) NULL,
	[SDT] [nchar](10) NULL,
	[STK] [nchar](20) NULL,
	[MST] [nchar](20) NULL,
	[ThaoTac] [nvarchar](50) NULL,
	[NgayGio] [datetime] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Audit_LoaiHang]    Script Date: 3/25/2019 5:33:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Audit_LoaiHang](
	[MaLoaiHang] [nchar](10) NOT NULL,
	[TenLoaiHang] [nchar](50) NULL,
	[GhiChu] [nchar](100) NULL,
	[ThaoTac] [nchar](50) NULL,
	[NgayGio] [datetime] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Audit_NhanVien]    Script Date: 3/25/2019 5:33:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Audit_NhanVien](
	[MaNV] [nchar](10) NULL,
	[TenNV] [nvarchar](50) NULL,
	[NgaySinh] [datetime] NULL,
	[GioiTinh] [bit] NULL,
	[SDT] [nchar](10) NULL,
	[ThaoTac] [nvarchar](50) NULL,
	[NgayGio] [datetime] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CTHD]    Script Date: 3/25/2019 5:33:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTHD](
	[MaHD] [nchar](10) NOT NULL,
	[MaHang] [nchar](10) NOT NULL,
	[SL] [int] NULL,
 CONSTRAINT [PK_CTHD] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC,
	[MaHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HangHoa]    Script Date: 3/25/2019 5:33:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HangHoa](
	[MaHang] [nchar](10) NOT NULL,
	[TenHang] [nvarchar](50) NULL,
	[DVT] [nvarchar](20) NULL,
	[DonGia] [float] NULL,
	[SLcon] [int] NULL,
	[MaLoaiHang] [nchar](10) NULL,
 CONSTRAINT [PK_HangHoa] PRIMARY KEY CLUSTERED 
(
	[MaHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 3/25/2019 5:33:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHD] [nchar](10) NOT NULL,
	[NgayHD] [date] NULL,
	[MaKH] [nchar](10) NULL,
	[MaNV] [nchar](10) NULL,
 CONSTRAINT [PK_HoaDon] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 3/25/2019 5:33:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [nchar](10) NOT NULL,
	[TenKH] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](100) NULL,
	[SDT] [nchar](10) NULL,
	[STK] [nchar](20) NULL,
	[MST] [nchar](20) NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LoaiHang]    Script Date: 3/25/2019 5:33:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiHang](
	[MaLoaiHang] [nchar](10) NOT NULL,
	[TenLoaiHang] [nvarchar](50) NULL,
	[GhiChu] [nchar](200) NULL,
 CONSTRAINT [PK_LoaiHang] PRIMARY KEY CLUSTERED 
(
	[MaLoaiHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 3/25/2019 5:33:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [nchar](10) NOT NULL,
	[TenNV] [nvarchar](50) NULL,
	[NgaySinh] [datetime] NULL,
	[GioiTinh] [bit] NULL,
	[SDT] [nchar](10) NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[Audit_CTHD] ([MaHD], [MaHang], [SL], [ThaoTac], [NgayGio]) VALUES (N'HD01      ', N'HH01      ', 3, N'U', CAST(N'2019-03-17 07:26:51.960' AS DateTime))
INSERT [dbo].[Audit_CTHD] ([MaHD], [MaHang], [SL], [ThaoTac], [NgayGio]) VALUES (N'HD01      ', N'HH01      ', 3, N'D', CAST(N'2019-03-17 07:26:52.800' AS DateTime))
INSERT [dbo].[Audit_CTHD] ([MaHD], [MaHang], [SL], [ThaoTac], [NgayGio]) VALUES (N'HD01      ', N'HH01      ', 6, N'U', CAST(N'2019-03-17 07:56:52.470' AS DateTime))
GO
INSERT [dbo].[Audit_HangHoa] ([MaHang], [TenHang], [DVT], [DonGia], [SLcon], [MaLoaiHang], [ThaoTac], [NgayGio]) VALUES (N'HH13      ', N'Macbook', N'10', 800, 984, N'LH01      ', N'U                                                 ', CAST(N'2019-03-17 05:04:50.920' AS DateTime))
INSERT [dbo].[Audit_HangHoa] ([MaHang], [TenHang], [DVT], [DonGia], [SLcon], [MaLoaiHang], [ThaoTac], [NgayGio]) VALUES (N'HH13      ', N'Macbook', N'10', 800, 984, N'LH01      ', N'D                                                 ', CAST(N'2019-03-17 05:04:50.940' AS DateTime))
INSERT [dbo].[Audit_HangHoa] ([MaHang], [TenHang], [DVT], [DonGia], [SLcon], [MaLoaiHang], [ThaoTac], [NgayGio]) VALUES (N'HH12      ', N'Asus', N'40', 700, 984, N'LH01      ', N'U                                                 ', CAST(N'2019-03-17 05:09:08.063' AS DateTime))
GO
INSERT [dbo].[Audit_HoaDon] ([MaHD], [NgayHD], [MaKH], [MaNV], [ThaoTac], [NgayGo]) VALUES (N'HD7       ', CAST(N'2019-03-23' AS Date), N'KH02      ', N'NV01      ', N'I', CAST(N'2019-03-23 13:20:22.280' AS DateTime))
INSERT [dbo].[Audit_HoaDon] ([MaHD], [NgayHD], [MaKH], [MaNV], [ThaoTac], [NgayGo]) VALUES (N'HD8       ', CAST(N'2019-03-23' AS Date), N'KH01      ', N'NV01      ', N'I', CAST(N'2019-03-23 15:49:26.050' AS DateTime))
INSERT [dbo].[Audit_HoaDon] ([MaHD], [NgayHD], [MaKH], [MaNV], [ThaoTac], [NgayGo]) VALUES (N'HD9       ', NULL, NULL, NULL, N'I', CAST(N'2019-03-23 17:00:35.277' AS DateTime))
INSERT [dbo].[Audit_LoaiHang] ([MaLoaiHang], [TenLoaiHang], [GhiChu], [ThaoTac], [NgayGio]) VALUES (N'LH05      ', N'Gia Dụng                                          ', N'sdfsd                                                                                               ', N'Insert                                            ', CAST(N'2019-03-13 00:00:00.000' AS DateTime))
INSERT [dbo].[Audit_LoaiHang] ([MaLoaiHang], [TenLoaiHang], [GhiChu], [ThaoTac], [NgayGio]) VALUES (N'LH05      ', N'Chip                                              ', N'sdfsdg                                                                                              ', N'I                                                 ', CAST(N'2019-03-15 20:11:23.660' AS DateTime))
INSERT [dbo].[Audit_LoaiHang] ([MaLoaiHang], [TenLoaiHang], [GhiChu], [ThaoTac], [NgayGio]) VALUES (N'LH11      ', N'sdfsd                                             ', N'                                                                                                    ', N'I                                                 ', CAST(N'2019-03-16 07:39:42.447' AS DateTime))
INSERT [dbo].[Audit_NhanVien] ([MaNV], [TenNV], [NgaySinh], [GioiTinh], [SDT], [ThaoTac], [NgayGio]) VALUES (N'NV5       ', N'Tin', CAST(N'2019-03-25 14:38:43.503' AS DateTime), 0, N'123       ', N'I', CAST(N'2019-03-25 14:38:59.447' AS DateTime))
INSERT [dbo].[Audit_NhanVien] ([MaNV], [TenNV], [NgaySinh], [GioiTinh], [SDT], [ThaoTac], [NgayGio]) VALUES (N'NV6       ', N'TinNgu', CAST(N'2019-03-25 14:39:40.907' AS DateTime), 0, N'123       ', N'I', CAST(N'2019-03-25 14:39:49.263' AS DateTime))
INSERT [dbo].[Audit_NhanVien] ([MaNV], [TenNV], [NgaySinh], [GioiTinh], [SDT], [ThaoTac], [NgayGio]) VALUES (N'NV7       ', N'TinNgu', CAST(N'2019-03-25 14:39:40.907' AS DateTime), 0, N'123       ', N'I', CAST(N'2019-03-25 14:40:03.353' AS DateTime))
INSERT [dbo].[CTHD] ([MaHD], [MaHang], [SL]) VALUES (N'HD02      ', N'HH01      ', 3)
INSERT [dbo].[CTHD] ([MaHD], [MaHang], [SL]) VALUES (N'HD02      ', N'HH11      ', 3)
INSERT [dbo].[CTHD] ([MaHD], [MaHang], [SL]) VALUES (N'HD10      ', N'HH01      ', 3)
INSERT [dbo].[HangHoa] ([MaHang], [TenHang], [DVT], [DonGia], [SLcon], [MaLoaiHang]) VALUES (N'HH01      ', N'HP2555', N'10', 500, 526, N'LH01      ')
INSERT [dbo].[HangHoa] ([MaHang], [TenHang], [DVT], [DonGia], [SLcon], [MaLoaiHang]) VALUES (N'HH02      ', N'AA', N'15', 300, 200, N'LH03      ')
INSERT [dbo].[HangHoa] ([MaHang], [TenHang], [DVT], [DonGia], [SLcon], [MaLoaiHang]) VALUES (N'HH03      ', N'Sony', N'44', 600, 957, N'LH03      ')
INSERT [dbo].[HoaDon] ([MaHD], [NgayHD], [MaKH], [MaNV]) VALUES (N'HD02      ', CAST(N'2019-03-08' AS Date), N'KH05      ', N'NV02      ')
INSERT [dbo].[HoaDon] ([MaHD], [NgayHD], [MaKH], [MaNV]) VALUES (N'HD10      ', CAST(N'2019-03-23' AS Date), N'KH01      ', N'NV01      ')
INSERT [dbo].[HoaDon] ([MaHD], [NgayHD], [MaKH], [MaNV]) VALUES (N'HD11      ', CAST(N'2019-03-24' AS Date), N'KH03      ', N'NV03      ')
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [DiaChi], [SDT], [STK], [MST]) VALUES (N'KH01      ', N'Dung', N'Hue', N'21432432  ', N'2394923492          ', N'1                   ')
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [DiaChi], [SDT], [STK], [MST]) VALUES (N'KH02      ', N'Tien', N'Da Nang', N'32432424  ', N'3245345345          ', N'1                   ')
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [DiaChi], [SDT], [STK], [MST]) VALUES (N'KH03      ', N'De', N'Hue', N'23523564  ', N'0345345345          ', N'2                   ')
INSERT [dbo].[LoaiHang] ([MaLoaiHang], [TenLoaiHang], [GhiChu]) VALUES (N'LH01      ', N'Computer', N'dsfsdsdf                                                                                                                                                                                                ')
INSERT [dbo].[LoaiHang] ([MaLoaiHang], [TenLoaiHang], [GhiChu]) VALUES (N'LH02      ', N'DienThoai', N'gdfgdfg                                                                                                                                                                                                 ')
INSERT [dbo].[LoaiHang] ([MaLoaiHang], [TenLoaiHang], [GhiChu]) VALUES (N'LH03      ', N'TiVi', N'sdfsdf                                                                                                                                                                                                  ')
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [NgaySinh], [GioiTinh], [SDT]) VALUES (N'NV01      ', N'Huy', CAST(N'1998-05-05 00:00:00.000' AS DateTime), 1, N'23432     ')
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [NgaySinh], [GioiTinh], [SDT]) VALUES (N'NV02      ', N'Thinh', CAST(N'2000-06-02 00:00:00.000' AS DateTime), 1, N'234234532 ')
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [NgaySinh], [GioiTinh], [SDT]) VALUES (N'NV03      ', N'Toan', CAST(N'1998-04-02 00:00:00.000' AS DateTime), 1, N'435034095 ')
ALTER TABLE [dbo].[CTHD]  WITH CHECK ADD  CONSTRAINT [FK_CTHD_HangHoa] FOREIGN KEY([MaHang])
REFERENCES [dbo].[HangHoa] ([MaHang])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CTHD] CHECK CONSTRAINT [FK_CTHD_HangHoa]
GO
ALTER TABLE [dbo].[CTHD]  WITH CHECK ADD  CONSTRAINT [FK_CTHD_HoaDon1] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HoaDon] ([MaHD])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CTHD] CHECK CONSTRAINT [FK_CTHD_HoaDon1]
GO
ALTER TABLE [dbo].[HangHoa]  WITH CHECK ADD  CONSTRAINT [FK_HangHoa_LoaiHang] FOREIGN KEY([MaLoaiHang])
REFERENCES [dbo].[LoaiHang] ([MaLoaiHang])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HangHoa] CHECK CONSTRAINT [FK_HangHoa_LoaiHang]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_KhachHang] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_KhachHang]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_NhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_NhanVien]
GO
/****** Object:  StoredProcedure [dbo].[Delete_CTHD]    Script Date: 3/25/2019 5:33:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Delete_CTHD] @MaHD nchar(10), @MaHang nchar(10)
as
begin
	Delete from CTHD where MaHD = @MaHD and MaHang = @MaHang
end

GO
/****** Object:  StoredProcedure [dbo].[Delete_HangHoa]    Script Date: 3/25/2019 5:33:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[Delete_HangHoa] @MaHang nchar(10)
as
begin
	Delete from HangHoa where MaHang = @MaHang
end
GO
/****** Object:  StoredProcedure [dbo].[Delete_HoaDon]    Script Date: 3/25/2019 5:33:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Delete_HoaDon] @MaHD nchar(10)
as
begin
	Delete from HoaDon where MaHD = @MaHD
end

GO
/****** Object:  StoredProcedure [dbo].[Delete_HoaDonMaxID]    Script Date: 3/25/2019 5:33:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Delete_HoaDonMaxID] 
as
begin
	Declare @MaxID int
	Select @MaxID = max(cast(substring(MaHD, 3,8) as int)) from HoaDon
	Delete from HoaDon where MaHD = concat('HD',@MaxID)
end

GO
/****** Object:  StoredProcedure [dbo].[Delete_KhachHang]    Script Date: 3/25/2019 5:33:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create proc [dbo].[Delete_KhachHang] @MaKH nchar(10)
as
begin
	Delete from KhachHang where MaKH = @MaKH
end

GO
/****** Object:  StoredProcedure [dbo].[Delete_LoaiHang]    Script Date: 3/25/2019 5:33:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[Delete_LoaiHang] @MaLoaiHang nchar(10)
as
begin
	Delete from LoaiHang where MaLoaiHang = @MaLoaiHang
end

GO
/****** Object:  StoredProcedure [dbo].[Delete_NhanVien]    Script Date: 3/25/2019 5:33:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Delete_NhanVien] @MaNV nchar(10)
as
begin
	Delete from NhanVien where MaNV = @MaNV
end

GO
/****** Object:  StoredProcedure [dbo].[Insert_CTHD]    Script Date: 3/25/2019 5:33:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Insert_CTHD] @MaHD nchar(10),@MaHang nchar(10), @SL int
as
begin
	if(@MaHD!= '')
	begin
		Declare @newSL int = 0
		Select  @newSL = SL from CTHD where MaHang = @MaHang and MaHD = @MaHD
		set @newSL = @newSL + @SL
		if(@newSL > 0)
		begin
			Declare @oldSL int = 0
			Select  @oldSL = SL from CTHD where MaHang = @MaHang and MaHD = @MaHD
			if(@oldSL > 0)
				update CTHD set SL = SL + @Sl where MaHang = @MaHang and MaHD = @MaHD
			else 		
				insert into CTHD values(@MaHD, @MaHang,@SL)
		end
		else 
			Delete from CTHD where MaHD = @MaHD and MaHang = @MaHang
		Select TenLoaiHang, TenHang, SL, DVT, DonGia
		from LoaiHang lh, HangHoa hh, CTHD 
		where hh.MaLoaiHang = lh.MaLoaiHang and hh.MaHang = CTHD.MaHang and MaHD = @MaHD
	end
	
end
GO
/****** Object:  StoredProcedure [dbo].[Insert_CTHDByMaxID]    Script Date: 3/25/2019 5:33:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Insert_CTHDByMaxID] @MaHang nchar(10), @SL int
as
begin
	Declare @id int
	Select @id = max(cast(substring(MaHD,3,8) as int)) from HoaDon
	insert into CTHD values(concat('HD',@id), @MaHang,@SL)
end

GO
/****** Object:  StoredProcedure [dbo].[Insert_HangHoa]    Script Date: 3/25/2019 5:33:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Insert_HangHoa] @TenHang nvarchar(50), @DVT nvarchar(20), @DonGia float, @SLcon int, @MaLoaiHang nchar(10)
as 
begin
	Declare @id int
	Select @id = max(cast(substring(MaHang, 3,8) as int))+1 from HangHoa 
	Insert into HangHoa values(concat('HH',convert(varchar, @id)),@TenHang,@DVT,@DonGia,@SLcon,@MaLoaiHang)
end

GO
/****** Object:  StoredProcedure [dbo].[Insert_HoaDon]    Script Date: 3/25/2019 5:33:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Insert_HoaDon] @MaKH nchar(10), @MaNV nchar(10)
as
begin
	declare @id int 
	Select @id = max(cast(substring(MaHD, 3,8) as int))+1 from HoaDon 
	insert into HoaDon values(concat('HD',@id), getdate(), @MaKH, @MaNV)
end


GO
/****** Object:  StoredProcedure [dbo].[Insert_LoaiHang]    Script Date: 3/25/2019 5:33:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Insert_LoaiHang] @MaLoaiHang nchar(10), @TenLoaiHang nchar(10), @GhiChu nchar(20)
as
begin
	insert into LoaiHang values(@MaLoaiHang, @TenLoaiHang, @GhiChu)
end

GO
/****** Object:  StoredProcedure [dbo].[Insert_NhanVien]    Script Date: 3/25/2019 5:33:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Insert_NhanVien] @TenNV nvarchar(50), @NgaySinh datetime, @GioiTinh bit, @SDT nchar(10)
as
begin
	declare @id int 
	Select @id = max(cast(substring(MaNV, 3, 8) as int))+1 from NhanVien
	insert into NhanVien values(concat('NV',@id), @TenNV,@NgaySinh,@GioiTinh,@SDT)
end
GO
/****** Object:  StoredProcedure [dbo].[Search_HangHoaByName]    Script Date: 3/25/2019 5:33:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Search_HangHoaByName] @TenHang nvarchar(50)
as
begin
	Select * from HangHoa where TenHang like concat('%',@TenHang,'%')
end
GO
/****** Object:  StoredProcedure [dbo].[Select_CTHD]    Script Date: 3/25/2019 5:33:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Select_CTHD] 
as
begin
	select * from CTHD
end

GO
/****** Object:  StoredProcedure [dbo].[Select_CTHDByMaHD]    Script Date: 3/25/2019 5:33:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Select_CTHDByMaHD] @MaHD nchar(10)
as
begin
	Select TenLoaiHang, TenHang, SL, DVT, DonGia from LoaiHang lh, HangHoa hh, CTHD where lh.MaLoaiHang = hh.MaLoaiHang and hh.MaHang = CTHD.MaHang and CTHD.MaHD = @maHD
end

GO
/****** Object:  StoredProcedure [dbo].[Select_HangHoa]    Script Date: 3/25/2019 5:33:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Select_HangHoa] 
as
begin
	Select MaHang, TenHang, DVT, DonGia, SLcon, TenLoaiHang from HangHoa, LoaiHang where HangHoa.MaLoaiHang = LoaiHang.MaLoaiHang
end

GO
/****** Object:  StoredProcedure [dbo].[Select_HangHoaByMa]    Script Date: 3/25/2019 5:33:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Select_HangHoaByMa] @MaHang nchar(10)
as
begin
	select * from HangHoa where MaHang = @MaHang
end

GO
/****** Object:  StoredProcedure [dbo].[Select_HangHoaByMaLH]    Script Date: 3/25/2019 5:33:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Select_HangHoaByMaLH] @MaLH nchar(10)
as
begin
	Select * from HangHoa where MaLoaiHang = @MaLH
end
GO
/****** Object:  StoredProcedure [dbo].[Select_HoaDon]    Script Date: 3/25/2019 5:33:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Select_HoaDon] 
as
begin
	select  MaHD, NgayHD, TenKH, TenNV from HoaDon hd, KhachHang kh, NhanVien nv where hd.MaKH = kh.MaKH and hd.MaNV = nv.MaNV
end
GO
/****** Object:  StoredProcedure [dbo].[Select_HoaDonByMa]    Script Date: 3/25/2019 5:33:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Select_HoaDonByMa] @MaHD nchar(10)
as
begin
	select * from HoaDon where MaHD = @MaHD
end

GO
/****** Object:  StoredProcedure [dbo].[Select_HoaDonNewID]    Script Date: 3/25/2019 5:33:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Select_HoaDonNewID] 
as
begin
	Select  concat('HD', max(cast(substring(MaHD,3,8) as int))+1) from HoaDon	
end
GO
/****** Object:  StoredProcedure [dbo].[Select_KhachHang]    Script Date: 3/25/2019 5:33:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Select_KhachHang]
as
begin
	Select * from KhachHang
end
GO
/****** Object:  StoredProcedure [dbo].[Select_KhachHangByMa]    Script Date: 3/25/2019 5:33:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Select_KhachHangByMa] @MaKH nchar(10)
as
begin
	select * from KhachHang where MaKH = @MaKH
end

GO
/****** Object:  StoredProcedure [dbo].[Select_LoaiHang]    Script Date: 3/25/2019 5:33:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[Select_LoaiHang] 
as
begin
	select * from LoaiHang
end

GO
/****** Object:  StoredProcedure [dbo].[Select_LoaiHangByMa]    Script Date: 3/25/2019 5:33:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Select_LoaiHangByMa] @MaLoaiHang nchar(10)
as
begin
	select * from LoaiHang where MaLoaiHang = @MaLoaiHang
end

GO
/****** Object:  StoredProcedure [dbo].[Select_NhanVien]    Script Date: 3/25/2019 5:33:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Select_NhanVien]
as
begin
	select * from NhanVien
end

GO
/****** Object:  StoredProcedure [dbo].[Select_NhanVienByMa]    Script Date: 3/25/2019 5:33:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Select_NhanVienByMa] @MaNV nchar(10)
as
begin
	select * from NhanVien where MaNV = @MaNV
end

GO
/****** Object:  StoredProcedure [dbo].[Update_CTHD]    Script Date: 3/25/2019 5:33:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Update_CTHD] @MaHD nchar(10), @MaHang nchar(10), @SL int
as
begin
	update CTHD set SL = @SL where MaHD = @MaHD and  MaHang = @MaHang
end

GO
/****** Object:  StoredProcedure [dbo].[Update_HangHoa]    Script Date: 3/25/2019 5:33:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Update_HangHoa] @MaHang nchar(10), @TenHang nvarchar(50), @DVT nvarchar(20), @DonGia float, @SLcon int, @MaLoaiHang nchar(10)
as
begin
	Update HangHoa set TenHang = @TenHang, DVT = @DVT, DonGia = @DonGia, SLcon = @SLcon, MaLoaiHang = @MaLoaiHang where MaHang = @MaHang
end

GO
/****** Object:  StoredProcedure [dbo].[Update_HoaDon]    Script Date: 3/25/2019 5:33:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Update_HoaDon] @MaHD nchar(10), @MaKH nchar(10), @MaNV nchar(10)
as
begin
	update HoaDon set NgayHD = getdate(), MaKH = @MaKH, MaNV = @MaNV where MaHD = @MaHD
end
GO
/****** Object:  StoredProcedure [dbo].[Update_KhachHang]    Script Date: 3/25/2019 5:33:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Update_KhachHang] @MaKH nchar(10), @TenKH nvarchar(50), @DiaChi nvarchar(100), @SDT nchar(10), @STK nchar(20), @MST nchar(20)
as
begin
	Update KhachHang set TenKH = @TenKH, DiaChi = @DiaChi, SDT = @SDT, STK = @STK, MST = @MST where MaKH = @MaKH
end

GO
/****** Object:  StoredProcedure [dbo].[Update_LoaiHang]    Script Date: 3/25/2019 5:33:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[Update_LoaiHang] @MaLoaiHang nchar(10), @TenLoaiHang nchar(10), @GhiChu nchar(20)
as
begin
	update LoaiHang set TenLoaiHang = @TenLoaiHang, GhiChu = @GhiChu where MaLoaiHang = @MaLoaiHang
end

GO
/****** Object:  StoredProcedure [dbo].[Update_NhanVien]    Script Date: 3/25/2019 5:33:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Update_NhanVien] @MaNV nchar(10), @TenNV nvarchar(50), @NgaySinh datetime, @GioiTinh bit, @SDT nchar(10)
as
begin
	update NhanVien set TenNV = @TenNV, NgaySinh = @NgaySinh, GioiTinh = @GioiTinh, SDT = @SDT where MaNV = @MaNV
end

GO
USE [master]
GO
